/* CSS de Delite, version web.*/


/* introduction d'une image de fond sur l'index 
==================================================================
==================================================================

.bodyindex{
	background: url(assets/images/Cookie1.png);
	background-repeat: no-repeat ; 
 	background-attachment: fixed ;
}

*/
body  {
background: #3B3B40;
}

#menucentre {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* modification préventive des UL et A 
==================================================================
==================================================================
*/

ul {
	list-style-type: none;
}

a {
text-decoration: none; 
color: #fff;
}

a:hover {
text-decoration: none; 
color: #fff;
}



/* Centrage du titre de la recette 
==================================================================
==================================================================
*/
.titrerecette {
	color: #fff;
	text-align: center;
	text-decoration: none; 


}
html body .container-fluid.body-content {
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;


}


/* Page de l'index, bouton d'entrée sur le site
==================================================================
==================================================================
*/

.slogan {

    text-align: center;
	background: #1F93FF;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1.2em;
	text-decoration: none; 
	opacity: 0.7;
	border-radius: 5px;
}

#titreaccueil {
    text-align: center;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	line-height: 0.9;
}


/*
.p-anim {
    transition: color 2s;
    color: #6E98B8;
}
.p-anim:hover {
    color: #FFF;
	text-decoration: none;
}
*/





/* mise en place du header 
==================================================================
==================================================================
*/
.header {
	background: black;
	color: #fff;
	height: -3%;
	text-align: center;
	font-size: 3.2em;
    opacity : 0.9;
	padding-top: 0%;
	padding-bottom: 0%;
	text-decoration: none; 

    }

/* mise en place du footer
==================================================================
==================================================================
*/
.footer {
	height: 3%;
    background: #808080;
    background-color: #808080;
    opacity: 0.9;
    position: fixed;
    left: 0; right: 0; bottom: 0;
    text-align: center;
    list-style: none;
    color: #FFF;	
    
 }


/* Centrage de la fonction convives en page recette
==================================================================
==================================================================
*/
#nbconv {
	background: #FFE9E9;
	font-size: 5em;
	color: grey;
	list-style: none;
	display: inline-flex;
	text-align: center;
	border-radius: 15px;
	margin: 1% ;
	position: inherit;


	}


/*   Ne sert plus poru le moment 
#auj {
	text-align: center;

}

#inlineSpan {

	align-self: center;
}

.encuisinebutton {
	display: inline-flex;
	border-radius: 15px;
	margin-left:  150px;

}

*/


.container-fluid #pdp {

    background: #E5E5E5;
	color: grey;
	height: 5%;
	text-align: center;
	font-size: 3em
}



/*  Supprimé du site pour la version web
==================================================================
==================================================================

#menutoptop {
	clear: both;
 	display: block;
    float: left;
}
*/





/* entree ====================================
==================================================================
==================================================================
*/


.div-couleur1 {
    background: #59A9F9;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 

}


.div-couleur1:hover {
    background: #1187CB;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}


/* plat ====================================
==================================================================
==================================================================
*/
.div-couleur2 {
    background: #FE5B15;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 

}


.div-couleur2:hover {
    background: #C34038;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}


/* dessert ====================================
==================================================================
==================================================================
*/
.div-couleur3 {
    background: #A965BE;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 

}


.div-couleur3:hover {
    background: #AE38D2;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}

/* smartcook ====================================
==================================================================
==================================================================
*/
.div-couleur4 {
    background: #5ED65E;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 


}


.div-couleur4:hover {
    background: #97CC97;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}

/* boisson ====================================
==================================================================
==================================================================
*/
.div-couleur5 {
    background: #C34038;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 

}


.div-couleur5:hover {
    background: #FE5B15;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}

/* minuteur ====================================
==================================================================
==================================================================
*/
.div-couleur6 {
    background: #1187CB;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 


}


.div-couleur6:hover {
    background: #59A9F9;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}

/* conversion ====================================
==================================================================
==================================================================
*/
.div-couleur7 {
    background: #AE38D2;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 


}


.div-couleur7:hover {
    background: #A965BE;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}


/* nouvelle recette ---- ne sert pas pour le moment  
==================================================================
==================================================================
*/
.div-couleur8 {
    background: #A965BE;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 


}


.div-couleur8:hover {
    background: #AE38D2;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}


/* vegetarien ====================================
==================================================================
==================================================================
*/
.div-couleur9 {
    background: #97CC97;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 


}


.div-couleur9:hover {
    background: #5ED65E;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}


/* 15 min ==================================== 
==================================================================
==================================================================
*/
.div-couleur10 {
    background: #F0B943;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 1% 1% 1% 1%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 1em;
	text-decoration: none; 


}

.div-couleur10:hover {
    background: #DF9E12;
    border-radius: 15px;
	text-align: center;
	color: #FFF;
	transition: all 0.2s;
	padding: 1% 1% 1% 1%;
	font-size: 1.9em;
	text-decoration: none; 

}


/* page Recette ============================== 
==================================================================
==================================================================
*/

.div-couleur0 {
    background:  	#3B3B40;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 0% 0% 0% 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 1em;
	text-decoration: none; 
	opacity: 1;


}

.recetteConsigne {
    background:  	#3B3B40;
    border-radius: 1px;
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	padding: 0% 0% 0% 0%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 0%;
	font-size: 1em;
	text-decoration: none; 
	opacity: 1;
}


.pagentiere {
 	background: #3B3B40;
	padding: 0% 0% 0% 0%;
}

.numberToCookFor {
	background: #3B3B40;
	border-radius: 5px;
}

.numberToCookFor2 {
	background: #3B3B40;
	transition: all 0.3s;
}
.numberToCookFor2:hover {
	transition: all 0.3s;
	color: #fff;
	font-size: 1.1em;
	text-decoration: none; 
}



/* titre de l'accueil color =================== 
==================================================================
==================================================================
*/
.titreheader {
    transition: all 0.2s;
	text-align: center;
	color: #fff;
	font-size: 1.1em;
	text-decoration: none; 


}

.titreheader:hover {
	text-align: center;
	color: #808080;
	transition: all 0.2s;
	font-size: 1.2em;
	text-decoration: none; 
}



/* 
CSS du menu d'accueil
==================================================================
==================================================================
*/
.pageAccueil {
margin-top: auto;
margin-bottom: auto;

}

.cat-recipe {
	display: block;
    min-height: 150px;
	max-height: 150px;
    text-align: center;
	line-height: 30%;
}

.cat-recipe h2 {
    line-height: 150px;
	font-size: 1.9em;
}

.cat-recipe.entree {
    background-color: #54F98D;
	opacity: 1;
	transition: all 0.2s;
}

.cat-recipe.entree:hover {
    background-color: #01D758;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;

}

.cat-recipe.plat {
    background-color: #73C2FB;
	opacity: 1;
	transition: all 0.2s;
}

.cat-recipe.plat:hover {
    background-color: #26C4EC;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}

.cat-recipe.dessert {
    background-color: #df73ff;
	opacity: 0.9;
	transition: all 0.2s;
}

.cat-recipe.dessert:hover {
    background-color: #fd3f92;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}

.cat-recipe.vegetarien {
    background-color: #3AF24B;
	opacity: 0.9;
	transition: all 0.2s;
}

.cat-recipe.vegetarien:hover {
    background-color: #00ff00;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}

.cat-recipe.chrono {
    background-color: #00BCFF;
	opacity: 0.9;
	transition: all 0.2s;
}

.cat-recipe.chrono:hover {
    background-color: #00FFFF;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}

.cat-recipe.smartcook {
    background-color: #ff007f;
	opacity: 0.9;
	transition: all 0.2s;
}

.cat-recipe.smartcook:hover {
    background-color: #ff00ff;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}

.cat-recipe.timer {
    background-color: #9EFD38;
	opacity: 0.9;
	transition: all 0.2s;
}
.cat-recipe.timer:hover {
    background-color: #01D758;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}

.cat-recipe.drink {
    background-color: #0F9DE8;
	opacity: 0.9;
	transition: all 0.2s;
}
.cat-recipe.drink:hover {
    background-color: #2C75FF;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}


.cat-recipe.conversion {
    background-color: #f9429e;
	opacity: 0.9;
	transition: all 0.2s;
}

.cat-recipe.conversion:hover {
    background-color: #FF007F;
	transition: all 0.2s;
	font-size: 1.9em;
    border-radius: 15px;
	opacity: 1;
}








