
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



html body .container-fluid.body-content {
  position: absolute;
  top: 7%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
}

#slogan {
    display: inline-flex;
    text-align: center;
}




.header {
	background: black;
	color: #fff;
	height: 7%;
	text-align: center;
	font-size: 6em;
    opacity : 0.7;
	padding-top: 1%;
/*	position: fixed  */
    }

#nbconv {
	background: #FFE9E9;
	font-size: 5em;
		color: grey;
		list-style: none;
		display: inline-flex;
		text-align: center;
		border-radius: 15px;
		margin: 1% ;
		position: inherit;


	}

#auj {
	text-align: center;

}

#inlineSpan {

	align-self: center;
}

.encuisinebutton {
	display: inline-flex;
	border-radius: 15px;
	margin-left:  150px;

}

/*
.container-fluid #pdp {

    background: #E5E5E5;
	color: grey;
	height: 5%;
	text-align: center;
	font-size: 3em
}
*/

.footer {
	height: 5%;
    background: #E5E5E5;
    background-color: #E5E5E5;
    opacity: 0.7;
    position: fixed;
    left: 0; right: 0; bottom: 0;
    text-align: center;
    list-style: none;
    
  /*  font-size: 2em; */

}

